body,
html {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #fff;
}
#bewakoof nav-top {
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 38px;
  background: #444;
  z-index: 1000;
  color: #ccc;
}
#bewakoof nav-top ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1rem;
}
#bewakoof nav-top ul.left li,
#bewakoof nav-top ul.right li {
  display: inline-block;
  padding: 9px 10px;
  line-height: 20px;
  position: relative;
}
#bewakoof nav-top ul.left li:after,
#bewakoof nav-top ul.right li:after {
  position: absolute;
  content: "";
  right: -3px;
  height: 24px;
  top: 7px;
  border-right: 1px solid rgba(0,0,0,0.3);
}
#bewakoof nav-top ul.left li:first-child,
#bewakoof nav-top ul.right li:first-child {
  padding-left: 0;
}
#bewakoof nav-top ul.left li:last-child:after,
#bewakoof nav-top ul.right li:last-child:after {
  display: none;
}
#bewakoof nav-top ul.left li>a,
#bewakoof nav-top ul.right li>a {
  color: #ccc;
  transition: 0.5s;
}
#bewakoof nav-top ul.left li>a [class*="md-"],
#bewakoof nav-top ul.right li>a [class*="md-"] {
  font-size: 17px;
}
#bewakoof nav-top ul.left li>a .text,
#bewakoof nav-top ul.right li>a .text {
  font-size: 12px;
  vertical-align: text-bottom;
  padding-left: 4px;
}
#bewakoof nav-top ul.left li>a:hover,
#bewakoof nav-top ul.right li>a:hover {
  text-decoration: none;
  color: #fff;
}
#bewakoof nav-top ul.left {
  float: left;
}
#bewakoof nav-top ul.right {
  float: right;
}
#bewakoof nav-top ul.right li:last-child {
  padding-right: 0;
}
#bewakoof nav-top ul.right li>a .text {
  text-transform: uppercase;
}
#bewakoof .navbar {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#bewakoof .navbar.init {
  background: rgba(240,204,86,0.6);
  border-bottom: #fff;
  top: 38px;
}
#bewakoof .navbar.init.main {
  background: #f0cc56;
  top: 0;
  box-shadow: 0 7px 7px -5px rgba(0,0,0,0.2);
}
#bewakoof .navbar .nav.navbar-nav>li>a {
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 700;
  color: #444;
  transition: 0.5s;
  position: relative;
}
#bewakoof .navbar .nav.navbar-nav>li>a:hover {
  color: #000;
}
#bewakoof .navbar .nav.navbar-nav>li.dropdown {
  position: static;
}
#bewakoof .navbar .nav.navbar-nav>li.dropdown:hover>a.dropdown-toggle {
  color: #000;
}
#bewakoof .navbar .nav.navbar-nav>li.dropdown:hover>a.dropdown-toggle:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 45%;
  display: block;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  border-top-width: 0px;
}
#bewakoof .navbar .nav.navbar-nav>li.dropdown:hover .dropdown-menu {
  display: block;
}
#bewakoof .navbar .nav.navbar-nav>li.dropdown .dropdown-menu {
  right: 0;
  left: 0;
  border: none;
  border-radius: 0;
}
#bewakoof .navbar .navbar-form {
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 0;
}
#bewakoof .navbar .navbar-form .form-group {
  position: relative;
}
#bewakoof .navbar .navbar-form .form-group input {
  border: none;
  min-width: 320px;
  padding-right: 36px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#bewakoof .navbar .navbar-form .form-group input:hover,
#bewakoof .navbar .navbar-form .form-group input:focus {
  box-shadow: 0 5px 5px -2px rgba(0,0,0,0.1);
}
#bewakoof .navbar .navbar-form .form-group button {
  position: absolute;
  background: transparent;
  border: none;
  font-size: 22px;
  padding: 6px;
  right: 0;
  top: 0;
  left: auto;
}
#bewakoof .navbar .navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 70px;
}
#bewakoof .navbar .navbar-brand img {
  max-height: 50px;
}
#bewakoof .navbar .navbar-brand img.small {
  display: none;
}
#bewakoof .navbar .navbar-toggle {
  background: #fff;
  margin-top: 18px;
  margin-bottom: 18px;
  border-color: #fff;
}
#bewakoof .dropdown-menu {
  padding-bottom: 15px;
}
#bewakoof .dropdown-menu ul.item-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
#bewakoof .dropdown-menu ul.item-menu>li {
  font-size: 14px;
}
#bewakoof .dropdown-menu ul.item-menu>li>.item-title {
  color: #444;
  font-weight: bold;
  padding-bottom: 4px;
  padding-top: 15px;
  display: inline-block;
  text-transform: capitalize;
}
#bewakoof .dropdown-menu ul.item-menu>li a {
  color: #888;
  padding: 4px 0;
  display: inline-block;
}
#bewakoof .dropdown-menu ul.item-menu>li a:hover,
#bewakoof .dropdown-menu ul.item-menu>li a:focus {
  text-decoration: none;
  color: #2196f3;
}
#bewakoof .dd-img {
  background: url("../img/dropdown.jpg");
  height: 214px;
  width: 138px;
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 4px;
  border: 1px solid #eee;
  margin-top: 30px;
  box-shadow: 0px 13px 10px -10px rgba(0,0,0,0.2);
}
#bewakoof .dd-img.dd-img-1 {
  background-position: 0 0;
}
#bewakoof .dd-img.dd-img-2 {
  background-position: -138px 0;
}
#bewakoof .dd-img.dd-img-3 {
  background-position: 0 -215px;
}
#bewakoof .dd-img.dd-img-4 {
  background-position: -140px -217px;
}
#bewakoof .dd-img.dd-img-5 {
  background-position: 0 -437px;
}
#bewakoof .dd-img.dd-img-6 {
  background-position: 0 -2405px;
}
#bewakoof .dd-img.dd-img-7 {
  background-position: -138px -434px;
}
#bewakoof .dd-img.dd-img-8 {
  background-position: 0 -652px;
}
#bewakoof .dd-img.dd-img-9 {
  background-position: -138px -650px;
}
#bewakoof .dd-img.dd-img-10 {
  background-position: -138px -3500px;
}
#bewakoof .dd-img.dd-img-11 {
  background-position: 0 -874px;
}
#bewakoof .dd-img.dd-img-12 {
  background-position: -138px -874px;
}
#bewakoof .dd-img.dd-img-13 {
  background-position: -138px -3724px;
}
#bewakoof .dd-img.dd-img-14 {
  background-position: 0 -1093px;
}
#bewakoof .dd-img.dd-img-15 {
  background-position: -138px -1093px;
}
#bewakoof .dd-img.dd-img-16 {
  background-position: 0 -1312px;
}
#bewakoof .dd-img.dd-img-17 {
  background-position: -140px -1312px;
}
#bewakoof .dd-img.dd-img-18 {
  background-position: 0 -1530px;
}
#bewakoof .dd-img.dd-img-19 {
  background-position: -138px -1530px;
}
#bewakoof .dd-img.dd-img-20 {
  background-position: 0 -1749px;
}
#bewakoof .dd-img.dd-img-21 {
  background-position: 0 -3500px;
}
#bewakoof .dd-img.dd-img-22 {
  background-position: -138px -1749px;
}
#bewakoof .dd-img.dd-img-23 {
  background-position: 0 -2186px;
}
/*-------------------------- MAIN CAROUSEL ------------------------*/
#bewakoof .carousel {
  height: inherit;
}
#bewakoof .carousel .carousel-inner {
  height: inherit;
}
#bewakoof .carousel .carousel-inner .item {
  height: inherit;
}
#bewakoof .carousel .carousel-inner .item .slide-container {
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: inherit;
}
@media screen and (min-width: 768px) {
  #bewakoof .carousel-control .md-chevron-right,
  #bewakoof .carousel-control .icon-next {
    margin-right: -15px;
  }
  #bewakoof .carousel-control .md-keyboard-arrow-left,
  #bewakoof .carousel-control .md-keyboard-arrow-right,
  #bewakoof .carousel-control .icon-next,
  #bewakoof .carousel-control .icon-prev {
    font-size: 50px;
    width: 30px;
    height: 30px;
    margin-top: -25px;
  }
}
#bewakoof .carousel-control .md-keyboard-arrow-right,
#bewakoof .carousel-control .icon-next {
  right: 50%;
  margin-right: -10px;
}
#bewakoof .carousel-control .md-keyboard-arrow-left,
#bewakoof .carousel-control .md-keyboard-arrow-right,
#bewakoof .carousel-control .icon-next,
#bewakoof .carousel-control .icon-prev {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
#bewakoof .carousel-caption {
  right: auto;
  top: 200px;
  left: 15%;
  bottom: auto;
  max-width: 400px;
}
#bewakoof .carousel-caption h4 {
  font-size: 50px;
  font-weight: 300;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  text-transform: lowercase;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
#bewakoof .carousel-caption p {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  margin: 20px 10px;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#bewakoof .carousel-caption>div {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
/*------------------------- FORM ELEMENTS -----------------------------*/
.btn-main {
  height: 50px;
  padding: 10px 20px;
  background: transparent;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.btn-main.yellow:hover {
  background: #f0cc56;
  color: #444;
  box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.4);
}
.btn-main.white:hover {
  background: #fff;
  color: #444;
  box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.4);
}
/*------------------------- SUB BLOCKS  -----------------------------*/
.sub-block.mens,
.sub-block.womens {
  height: 50%;
  position: relative;
  background-color: rgba(0,234,243,0.8);
}
.sub-block.mens .container,
.sub-block.womens .container {
  height: 100%;
  position: relative;
}
.sub-block.mens .container .caption,
.sub-block.womens .container .caption {
  position: absolute;
  top: 10%;
  left: 0;
  max-width: 300px;
  z-index: 1000;
}
.sub-block.mens .container .caption .title,
.sub-block.womens .container .caption .title {
  font-size: 50px;
  font-weight: 300;
  color: #fff;
  margin: 10px;
  text-transform: lowercase;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.sub-block.mens .container .caption .text,
.sub-block.womens .container .caption .text {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin: 10px;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.sub-block.mens .container ul.image-group,
.sub-block.womens .container ul.image-group {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.sub-block.mens .container ul.image-group li,
.sub-block.womens .container ul.image-group li {
  display: inline-block;
  height: 100%;
  max-height: 100%;
  position: relative;
  width: 200px;
  margin: 0;
  float: left;
  overflow: hidden;
}
.sub-block.mens .container ul.image-group li .cover,
.sub-block.womens .container ul.image-group li .cover {
  background-color: rgba(0,234,243,0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.sub-block.mens .container ul.image-group li .img,
.sub-block.womens .container ul.image-group li .img {
  width: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: inherit;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.sub-block.mens .container ul.image-group li .btn-conteiner,
.sub-block.womens .container ul.image-group li .btn-conteiner {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
}
.sub-block.mens .container ul.image-group li:hover .cover,
.sub-block.womens .container ul.image-group li:hover .cover {
  background: transparent;
}
.sub-block.mens .container ul.image-group li:hover .img,
.sub-block.womens .container ul.image-group li:hover .img {
  transform: scale(1.2);
}
.sub-block.mens .container ul.image-group li:hover .btn-main,
.sub-block.womens .container ul.image-group li:hover .btn-main {
  background: #fff;
  color: #444;
  box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.4);
}
.sub-block.mens.bottom,
.sub-block.womens.bottom {
  background-color: rgba(83,109,254,0.8);
}
.sub-block.mens.bottom .container .caption,
.sub-block.womens.bottom .container .caption {
  max-width: 400px;
}
.sub-block.mens.bottom .container ul.image-group li .cover,
.sub-block.womens.bottom .container ul.image-group li .cover {
  background-color: rgba(83,109,254,0.8);
}
.sub-block.mens.bottom .container ul.image-group li:hover .cover,
.sub-block.womens.bottom .container ul.image-group li:hover .cover {
  background: transparent;
}
.sub-block.womens {
  background-color: rgba(243,0,113,0.8);
}
.sub-block.womens .container .caption {
  left: auto;
  right: 0;
}
.sub-block.womens .container ul.image-group {
  float: left;
}
.sub-block.womens .container ul.image-group li {
  float: left;
}
.sub-block.womens .container ul.image-group li .cover {
  background-color: rgba(243,0,113,0.8);
}
.sub-block.womens.bottom {
  background-color: rgba(244,67,54,0.8);
}
.sub-block.womens.bottom .container .caption {
  max-width: 400px;
}
.sub-block.womens.bottom .container ul.image-group {
  float: left;
}
.sub-block.womens.bottom .container ul.image-group li {
  float: left;
}
.sub-block.womens.bottom .container ul.image-group li .cover {
  background-color: rgba(244,67,54,0.8);
}
.sub-block.womens.bottom .container ul.image-group li:hover .cover {
  background: transparent;
}
.sub-block.mobile-covers,
.sub-block.fanbook {
  height: 50%;
  background: url("../img/mobile_covers_desktop_new.jpg") no-repeat center bottom;
  background-size: cover;
}
.sub-block.mobile-covers .caption,
.sub-block.fanbook .caption {
  position: absolute;
  top: 30%;
  left: 0%;
  right: 0%;
  text-align: center;
}
.sub-block.mobile-covers .caption .title,
.sub-block.fanbook .caption .title {
  font-size: 50px;
  font-weight: 300;
  color: #fff;
  margin: 10px;
  text-transform: lowercase;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.sub-block.mobile-covers .caption .text,
.sub-block.fanbook .caption .text {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.sub-block.fanbook {
  background: url("../img/fanbook.jpg") no-repeat center bottom;
  background-size: cover;
}
.sub-block.fanbook .caption .text-conteiner {
  width: 400px;
  background: #fff;
  border-radius: 8px;
  padding: 0 10px 10px 10px;
  display: inline-block;
  box-shadow: 0 0px 20px 10px rgba(0,0,0,0.5);
}
.sub-block.fanbook .caption .text-conteiner .title {
  color: #444;
}
.sub-block.fanbook .caption .text-conteiner .text {
  color: #444;
  cursor: default;
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #bewakoof nav-top ul.left li>a .text {
    display: none;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #bewakoof nav-top ul.left li>a .text {
    display: none;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #bewakoof nav-top ul.left li>a .text {
    display: none;
  }
  #bewakoof .navbar .navbar-brand img {
    display: none;
  }
  #bewakoof .navbar .navbar-brand img.small {
    display: block;
  }
  #bewakoof .navbar-form {
    display: none;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #bewakoof .navbar .navbar-brand img {
    display: none;
  }
  #bewakoof .navbar .navbar-brand img.small {
    display: block;
  }
}
